<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<video id="mainvideo" autoplay playsinline></video>
<video id="replay" playsinline></video>
<div>
    <button id="startRecordButton" onclick="repeatStartRecording()">StartRecord</button>
<!--    <button id="startRecplayButton" onclick="startRecplay()">recplay</button>-->
    <button id="stopButton" onclick="stop()">Stop</button>
    <button id="downloadButton" onclick="download()">Download</button>
    <h1>00:00:00</h1>
</div>
<!--<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>-->
<!--<script src="../js/stomp.js"></script>-->
<script src="../js/test2.js"></script>

</body>
</html>